<%- include('../compartido/menu/menu-component') %>
<%- include('../compartido/estilos-generales/estilos-generales-component') %>
<!-- "="  -->
<p><%= "Hola" %></p>
<p><%= 33 %></p>

<% const paul = {nombre: "Paul", apellido: "Lora", cedula: 1724077100} %>
<% const numero = 18 %>
<% const mensaje = "hola" %>
<% const arreglo = [1, 2, 3, 4, 5] %>

<p>
    <%= paul.nombre %>
    <%= paul.apellido %>
    <%= paul.cedula %>
</p>
<p>
    <%= numero %>
</p>
<p>
    <%= mensaje %>
</p>
<ul>
    <% arreglo.forEach((objeto)=>{ %>

        <li><%= objeto %></li>

    <% }) %>
</ul>

<h1>Inicio</h1>
<button onclick="mensajeAlertar()"> ALERTAR</button>

<a href="crear">
    <button>
        Crear
    </button>
</a>
<% if(typeof parametrosDeConsulta != 'undefined') { %>
    <p>MENSAJE: <%= parametrosDeConsulta.mensaje %></p>
<% } %>

<form action="/usuario/vista/inicio" method="GET">
    <label for="busqueda">Busqueda:</label>
    <input id="busqueda" type="text" name="busqueda">
    <button type="submit"> Buscar </button>

</form>


<table>
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Cedula
        </th>
        <th>
            Acciones
        </th>
    </tr>
    <% arregloUsuarios.forEach((objeto)=>{ %>

        <tr>
            <td>
                <%= objeto.nombre %>
            </td>
            <td>
                <%= objeto.apellido %>
            </td>
            <td>
                <%= objeto.cedula %>
            </td>
            <td>
                <button>
                    Ver
                </button>
                <a href="/usuario/vista/editar/<%= objeto.id %>">
                    <button>
                        Editar
                    </button>
                </a>
                <form action="/usuario/eliminarDesdeVista/<%= objeto.id %>" method="POST">
                    <button type="submit">
                        Eliminar
                    </button>
                </form>


            </td>
        </tr>

    <% }) %>
</table>

<%- include('../compartido/funcionalidad-general/funcionalidad-general-component') %>